* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbbc05;
  /* min-height: 100vh; */
  font-family: "Lato", sans-serif;
}
header {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-family: "Merriweather", serif;
  /* font-size: 34px; */
  font-size: 4vh;

  color: White;
  text-align: center;
  margin-top: 2vw;
}
header a {
  text-decoration: none;
  color: white;
}
header a:hover {
  color: #003594;
}

nav {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #003594;
  height: 5vh;
  width: 90vw;
  border-radius: 1vw;
}
nav ul {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items: flex-end; */
  font-size: 3vh;
  color: white;
  text-align: center;
  list-style: inside;
}

nav li {
  flex: 1 1 auto;
}

nav a:link,
nav a:visited {
  color: #fff;
  font-size: 2.8vh;
  text-decoration: none;
}

nav li:has(a:hover),
nav a:hover {
  color: #fbbc05;
}

.gridContainer {
  width: 88vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 2vh;
  column-gap: 2vw;
  color: rgb(255, 255, 255);
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.pic {
  width: 100%;
  height: auto;
}

article #JAVA {
  width: 50vw;
  margin-left: 25vw;
}

iframe#fridgeApp,
iframe#lostfoundApp {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50vw;
  height: 80vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

iframe#gondola {
  width: 70vw;
  height: 40vw;
  margin-left: 15vw;
}

section.portfolio h2 {
  color: #003594;
  margin-left: 15vw;
}

table#links {
  margin-left: 10vw;
  width: 80vw;
}

table {
  /* font-family: "Lato", sans-serif; */
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #003594;
  text-align: center;
  padding: 1em;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(6) td:nth-child(1) {
  background-color: #fbbc05;
}

p.moreText {
  display: none;
  font-size: 1.5vw;
  color: #003594;
  width: 60vw;
  margin-left: 10vw;
  text-align: justify;
}

.intro {
  font-size: 1.5vw;
  color: #003594;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

div.more {
  margin-left: 10vw;
  width: 80vw;
}

p.text {
  display: none;
}

div.likeButton {
  margin-left: 15vw;
  margin-top: 0.5vw;
  margin-bottom: 1vw;
}
input.likeButton {
  width: 25px;
  margin-right: 0.5vw;
}
button.readmoreButton {
  border: none;
  padding: 0;
  background: none;
  color: #003594;
  font-size: 1.3vw;
  margin-left: 5vw;
}

button.readmoreButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

span#span0,
span#span1,
span#span2 {
  display: none;
}

footer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  height: 6vh;
  border-top: #003594 0.5vh solid;
  color: white;
  font-size: 16px;
  position: relative;
}

.backToTop {
  position: absolute;
  left: 0;
  right: 0;
  top: 1vh;
  margin: 0 auto;
  border: none;
  background: none;
  color: white;
  font-size: 16px;
}
button.backToTop:hover {
  color: #003594;
  cursor: pointer;
}

.email {
  position: absolute;
  left: auto;
  right: 1vw;
  top: 1vh;
  font-size: 16px;
}

.resume {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80vh;
}

#videoEl1 {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

nav ul {
  /* position: relative; */
}

.nav-dropdown {
  position: relative;
}

.nav-portfolio {
  display: none;
  background-color: #003594;
  position: absolute;
  text-align: left;
  width: 15vw;
  height: auto;
  /* padding-left: 1%; */
  margin: auto;
  border-radius: 0 0 2.5vw 0;
  left: 30%;
  z-index: 2;
}

.nav-portfolio li {
  margin-top: 1vh;
  margin-left: 10%;
  font-size: 2vh;
}

.nav-portfolio li:last-child {
  margin-bottom: 1vh;
}
.nav-portfolio a:link {
  font-size: 2vh;
  margin-left: 1.5%;
}
.nav-dropdown:hover .nav-portfolio {
  display: block;
}

.container {
  position: relative;
  width: 90%;
  /* height: 100vh; */
  margin: 0 auto;
}

.photoWall {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 90vw;
  margin: 2vh auto;
  gap: 2vw;
}

.card {
  position: relative;
  perspective: 300px;
}

.card:hover .contentBx {
  top: 70%;
  visibility: visible;
  opacity: 1;
  transform: rotateX(0deg) translateZ(10px);
  transition: 0.4s ease-in-out;
}

.card img {
  width: 28vw;
  /* object-fit: cover; */
}

.card .contentBx {
  padding: 0.5vw 1.5vw;
  position: absolute;
  top: 95%;
  left: 0;
  right: 0;
  transform-style: preserve-3d;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  transform: rotateX(-90deg);
  background-color: rgb(85, 85, 85, 0.6);
}

.card .contentBx h2 {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
}

.card .contentBx p {
  color: #fff;
  font-size: 16px;
}
