* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #fafafa; */
  /* min-height: 100vh; */
  font-family: "Lato", sans-serif;
}

header {
  font-size: 14px;
  /* font-family: "Merriweather", serif; */
  color: #444;
  margin: 10px auto;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

header a:link,
header a:visited {
  text-decoration: none;
  /* color: #555; */
  color: #444;
}

header a:hover {
  color: #fff;
}

header svg {
  height: 12px;
  margin-right: 2px;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  /* align-items: flex-start; */
}
.links a {
  flex: 1 1 auto;
}

nav {
  margin: 0 auto 10px;
  /* background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background: linear-gradient(178deg, #c7f1fe 0%, #0e5cad 100%); */
  background: linear-gradient(180deg, #84fab0 0%, #0e5cad 95%);
  background: radial-gradient(
      93% 93% at 8% 128%,
      rgba(194, 233, 255, 0) 60%,
      rgba(255, 238, 194, 0.2) 100%
    ),
    radial-gradient(
      49% 88% at 27% -14%,
      rgba(93, 227, 236, 0.75) 5%,
      rgba(93, 227, 236, 0.25) 60%,
      rgba(93, 227, 236, 0) 100%
    ),
    radial-gradient(
      115% 156% at 90% 89%,
      rgba(75, 254, 222, 0) 0%,
      rgba(75, 240, 225, 0.9) 80%
    ),
    linear-gradient(
      100deg,
      rgba(69, 74, 187, 1) 25%,
      rgba(69, 74, 187, 0.77) 35%,
      rgba(69, 74, 187, 0.4) 50%,
      rgba(91, 196, 229, 0) 84%
    ),
    radial-gradient(
      119% 119% at 3% 26%,
      rgba(48, 158, 230, 0) 0%,
      rgba(48, 142, 230, 1) 45%
    );
  /* background-blend-mode: multiply; */
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-page {
  /* font-weight: 550; */
  flex: 1 1 auto;
  /* margin-bottom: 2vh; */
  padding: 12px 0 16px;
  text-align: center;
  /* border-right: rgb(199, 241, 254, 0.4) solid 0.75px; */
  /* border-left: rgb(199, 241, 254, 0.4) solid 0.75px; */
  /* border-bottom: rgb(199, 241, 254, 0.4) solid 0.75px; */
}

nav a:link,
nav a:visited {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

nav a:hover {
  /* color: rgb(255, 255, 255, 0.5); */
  color: #0e5cad;
}

.nav-page:has(a:hover),
.nav-dropdown:hover {
  background-color: rgb(255, 255, 255, 0.6);
  /* background-color: rgb(209, 214, 220, 0.5); */
}

.nav-dropdown {
  position: relative;
}

.nav-dropdown::after {
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  /* padding: 3px; */
  padding: 3px;
  -webkit-transform: rotate(45deg) translateY(-6px);
  transform: rotate(45deg) translateY(-6px);
}

.about-me {
  width: 80vw;
  margin: 100px auto 140px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  /* justify-items: center; */
}

.my-name {
  font-family: "Merriweather", serif;
  color: #444;
  font-weight: 400;
  min-width: 350px;
}

.im {
  font-size: 28px;
  margin-left: 4px;
}

.name {
  font-size: 54px;
  font-weight: 400;
}

.skillset {
  grid-column: 1/2;
  grid-row: 2/3;
  position: relative;
  width: 100%;
  height: 100%;
}

.skill {
  position: absolute;
  font-size: 28px;
}

.skill .plus-sign {
  color: #53b8af;
  font-size: 32px;
}

.skill:first-child {
  color: #2c83ae;
  top: 25%;
  right: 50%;
}

.skill:nth-child(2) {
  color: #2c83ae;
  top: 25%;
  right: 15%;
}

.skill:nth-child(3) {
  color: #2c83ae;
  top: 40%;
  right: 65%;
  font-size: 24px;
}

.skill:nth-child(4) {
  color: #2c83ae;
  top: 40%;
  right: 15%;
  font-size: 24px;
}

.skill:last-child {
  color: #2c83ae;
  top: 55%;
  right: 15%;
  font-size: 22px;
}

.profile-photo {
  grid-column: 2/3;
  grid-row: 1/-1;
  width: 30vw;
  height: auto;
}

.pic {
  width: 100%;
  height: auto;
}

article #JAVA {
  width: 50vw;
  margin-left: 25vw;
}

iframe#fridgeApp,
iframe#lostfoundApp {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50vw;
  height: 80vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

iframe#gondola {
  width: 70vw;
  height: 40vw;
  margin-left: 15vw;
}

section.portfolio h2 {
  color: #0e5cad;
  margin-left: 15vw;
}

table#links {
  margin-left: 10vw;
  width: 80vw;
}

table {
  /* font-family: "Lato", sans-serif; */
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #0e5cad;
  text-align: center;
  padding: 1em;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(6) td:nth-child(1) {
  background-color: #fbbc05;
}

p.moreText {
  display: none;
  font-size: 1.5vw;
  color: #003594;
  width: 60vw;
  margin-left: 10vw;
  text-align: justify;
}

.intro {
  font-size: 1.5vw;
  color: #0e5cad;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

div.more {
  margin-left: 10vw;
  width: 80vw;
}

p.text {
  display: none;
}

div.likeButton {
  margin-left: 15vw;
  margin-top: 0.5vw;
  margin-bottom: 1vw;
}
input.likeButton {
  width: 25px;
  margin-right: 0.5vw;
}
button.readmoreButton {
  border: none;
  padding: 0;
  background: none;
  color: #0e5cad;
  font-size: 1.3vw;
  margin-left: 5vw;
}

button.readmoreButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

span#span0,
span#span1,
span#span2 {
  display: none;
}

footer {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  height: 6vh;
  border-top: #4cb6d5 2px solid;
  color: #444;
  font-size: 16px;
  position: relative;
}

.backToTop {
  position: absolute;
  left: 0;
  right: 0;
  top: 1vh;
  margin: 0 auto;
  border: none;
  background: none;
  color: #444;
  font-size: 16px;
  font-style: normal;
}
button.backToTop:hover {
  color: #4cb6d5;
  cursor: pointer;
}

.email {
  position: absolute;
  left: auto;
  right: 1vw;
  top: 1vh;
  font-size: 16px;
}

.resume {
  display: block;
  margin: 40px auto;
  width: 90vw;
  min-height: 120vw;
  /* height: 120vw; */
}

#videoEl1 {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nav-portfolio {
  display: none;
  visibility: hidden;
  background-color: #4cb6d5;
  position: absolute;
  width: 100%;
  height: auto;
  margin: auto;
  top: 100%;
  left: 0;
  z-index: 2;
}

.nav-portfolio div {
  padding: 8px 0;
  text-align: center;
  /* width: 40%; */
  /* margin-left: 35%; */
}

.nav-portfolio div a:link,
.nav-portfolio div a:visited {
  font-size: 14px;
  /* margin-left: 1.5%; */
}

.portfolio-project {
  text-align: left;
}

.nav-portfolio div:has(a:hover) {
  background-color: rgb(255, 255, 255, 0.6);
}

.nav-dropdown:hover .nav-portfolio {
  display: block;
  visibility: visible;
}

.container {
  position: relative;
  width: 90%;
  /* height: 100vh; */
  margin: 0 auto;
}

.gallery {
  display: grid;
  /* grid-auto-flow: row; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 90vw;
  margin: 80px auto;
  gap: 2vw;
}

.card {
  position: relative;
  /* perspective: 300px; */
}

.card:hover .contentBx {
  /* top: 70%; */
  bottom: 5%;
  visibility: visible;
  opacity: 1;
  transform: rotateX(0deg) translateZ(10px);
  transition: 0.4s ease-in-out;
  z-index: 5;
}

.card img {
  width: 28vw;
  /* object-fit: cover; */
}

.card .contentBx {
  position: absolute;
  padding: 0.5vw 1.5vw;
  /* top: 95%; */
  bottom: -10%;
  left: 0;
  right: 0;
  transform-style: preserve-3d;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  transform: rotateX(-90deg);
  /* background-color: rgba(76, 182, 213, 0.85); */
  background-color: #444444aa;
  z-index: 5;
}

.card .contentBx h2 {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.card .contentBx p {
  color: #fff;
  font-size: 14px;
}

@media (max-aspect-ratio: 1) {
  .about-me {
    margin: 60px auto;
    width: 90vw;
  }
  .gallery {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
  .card img {
    width: 45vw;
  }
}
